@model FamousQuoteQuiz.WebClient.ViewModels.HomeController.QuestionViewModel

@Html.HiddenFor(m => m.Id, new { @class = "nextquestion", @id = @Model.Id })
@Html.HiddenFor(m => m.Author.Id, new { @class = "authorId", @id = @Model.Author.Id })

<div class="question panel-body">
    "@Model.Content"
</div>
<br />

<div class="text-center" id="authors_container">
    @Model.Author.AuthorName?
</div><br />

            


            
