
@model FamousQuoteQuiz.Models.Question
<div class="row">
    <div class="col col-md-4">
        @Html.HiddenFor(m => m.Id, new { @class = "question", @id = @Model.Id })

        <div class="gray-label mb10">Who Said It?</div>

        <div class="description">"@Model.Content"</div>

        <div id="result_view"></div>
       
        <div id="answers_container">

            <div>
                @Model.Answer.AnswerText?
            </div>
          
        </div>
       
            <div class="col-sm-3 btn btn-xs btn-yes" id="answer-true">Yes</div>
            <div class="col-sm-offset-6 col-sm-3 btn btn-xs btn-no" id="answer-false">No</div>
        
    </div>
    @*<div class="btn-wrapper">
            @Html.ActionLink("Next", "Index", null, new { @class = "hidden_el btn btn-info", @id = "btn_next" })
        </div>*@
</div>